:root {
  --header-height: 90px;
  --header-background: #fff;
  --body-background-url: url('././assets/pictures/background.jpg');
  --footer-height: 100px;
  --index: 1000;
  --button-color-light: #f0f0f0;
  --button-color-dark: #a1a1a1;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

header {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: var(--header-height);
  background-color: var(--header-background);
  z-index: calc(var(--index) + 3);
  padding: 0 100px; 
}

footer {
  position: fixed; 
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: var(--footer-height);
  background-color: var(--header-background);
  z-index: calc(var(--index) + 3);
}

body #main-content {
  background-image: var(--body-background-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.row p {
  margin: 20px;
}
.row h1 {
  font-size: 50px;
}

.textField_wrapper {
  margin: 20px 0;
}
.MuiPaper-root {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  padding: 20px 40px;
}