:root {
  --header-height: 90px;
  --header-background: #fff;
  --body-background-url: url('././assets/pictures/background.jpg');
  --footer-height: 100px;
  --index: 1000;
}

header {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: var(--header-height);
  background-color: var(--header-background);
  z-index: calc(var(--index) + 3);
  padding: 0 100px; 
}

footer {
  position: fixed; 
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: var(--footer-height);
  background-color: var(--header-background);
  z-index: calc(var(--index) + 3);
}

body #main-content {
  background-image: var(--body-background-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
  max-width: 100%;
  width: 100%;
}